body {
  margin: 5em;
}

ul {
  padding: 0;
}

header nav ul {
  margin: 0;
}

li {
  margin-right: 2em;
  padding-top: 1em;
  list-style-type: None;

}

a {
  text-decoration: None;
  font-weight: bold;
}

article {
  margin-right: 20%;
}

footer {
  border-top: thick solid;
  padding-top: 1em;
}

footer>p {
  margin: 0;
}


h1>span {
  display: block;
}

span {
  color: gray;
  font-style: italic;
}

img {
  width: 1em;
  height: 1em;
}

header nav {
  border-bottom: thin solid;
  padding: 0;

}

h1 {
  font-size: 350%;
  padding-top: 1em;
  border-bottom: thick solid;
  margin-bottom: 0.80em;
}